.glyphicon {
    font-size: 18px;
    z-index: 20;
    cursor: pointer;
}

.current-location {
    margin-top: 30px;
    padding-bottom: 5px;
}

.current-location .save-location {
    display: inline;
    margin: 10px auto;
    line-height: 1.6;
    font-size: 22px;
}

.current-location .glyphicon-star,
.current-location .glyphicon-star-empty {
    display: inline-block;
    margin-left: 10px;
    font-size: 22px;
    vertical-align: text-bottom;
}

.current-location span.title-prefix {
    text-transform: uppercase;
    font-size: 28px;
    font-weight: bold;
    padding-right: 10px;
}