.container {
	max-width: 980px;
	text-align: center;
	margin: 20px auto;
}

h1 {
	margin-bottom: 20px;
}

#geocoding_form {
	margin: 40px auto 60px;
}

#address {
	border-radius: 3px;
}

.input-group {
	margin-left: 4%;
}

.glyphicon {
	font-size: 18px;
	z-index: 20;
	cursor: pointer;
}

.glyphicon-search{
	position: relative;
	right: 30px;
}

.current-location {
	margin-top: 30px;
}

#save-location {
	display: inline;
	margin: 10px auto;
	line-height: 1.4;
}

.current-location .glyphicon-star,
.current-location .glyphicon-star-empty {
	display: inline-block;
	margin-left: 10px;
	font-size: 22px;
	vertical-align: text-bottom;
}

.glyphicon-menu-right {
	position: absolute;
	top: 50%;
	right: 10px;
	margin-top: -9px;
}

.map-holder {
	max-width: 500px;
	height: 350px;
	background-color: #FCFCFC;
	position: relative;
	border-radius: 2px;
}

.map-holder p {
	position: absolute;
	width: 84px;
	height: 22px;
	left: 50%;
	top: 50%;
	margin: -11px auto 0 -42px;
	font-size: 20px;
	color: #969FA8;
}

#map {
	max-width: 500px;
	height: 350px;
	margin: 0 auto;
}

.list-group {
	padding: 0 15px;
	margin-top: 50px;
}

.list-group-item {
	position: relative;
	padding: 10px 20px;
}

a.list-group-item {
	cursor: pointer;
}

a.list-group-item:hover {
	background-color: #F7FBFF;
}

a.active-location {
	background-color: #EEF6FF;
}

a.active-location:hover {
	background-color: #EBF3FC;
}

a.list-group-item span.createdAt {
	display: block;
	color: #969FA8;
	z-index: -1;
}


.multi-day-forecast {

}

.multi-day-forecast .day-details {

}

.daily {

	direction: ltr;
	display: block;
	height: 120px;
	left: 0px;
	line-height: 16px;
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	position: relative;

}

.daily-item {
	background-color: #fff;
	border: 1px solid #eee;
	direction: ltr;
	display: block;
	float: left;
	height: 120px;
	line-height: 16px;
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 1px;
	margin-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	position: relative;
	text-align: left;
	width: 123px;
	border-radius: 4px;
}

.daily-date {
	background: #2c3e50;
	padding-bottom: 5px;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	text-align: center;
	color: #fff;
	font-weight: bold;
	font-size: 18px;
}

.tabbed-forecast {
	text-align: left;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;

	color: rgb(51, 51, 51);
	direction: ltr;
	display: block;
	font-family: Arial, sans-serif;
	font-size: 13px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	line-height: 16px;

}

.location-name {
	font-size: 22px;
	height: 30px;
}
.active {
	background-color: #eef6ff;
}

.daily-temp {
	-webkit-font-smoothing: antialiased;
	color: rgb(55, 55, 85);
	cursor: pointer;
	direction: ltr;
	display: block;
	float: none;
	font-family: Arial, sans-serif;
	font-size: 16.0030002593994px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	height: 16px;
	letter-spacing: normal;
	line-height: 16.0030002593994px;
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	text-align: left;
	text-rendering: optimizeLegibility;
	white-space: nowrap;
	width: 59px;
	margin-top: 10px;
}

.daily-img {
	clear: both;
	cursor: pointer;
	direction: ltr;
	display: block;
	float: left;
	font-family: Arial, sans-serif;
	font-size: 13px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	height: 50px;
	line-height: 16px;
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	margin-bottom: 36px;
	margin-right: 8px;
	margin-top: 10px;
	overflow-x: hidden;
	overflow-y: hidden;
	position: relative;
	text-align: left;
	width: 55px;
	zoom: 1;

}

.rainy {
	background-image: url("http://static.bbci.co.uk/weather/0.5.346/images/icons/individual_56_icons/en_on_light_bg/12.gif");
}

.wet {
	background-image: url("http://static.bbci.co.uk/weather/0.5.346/images/icons/individual_56_icons/en_on_light_bg/15.gif");

}

.sunny-and-wet {
	background-image: url("http://static.bbci.co.uk/weather/0.5.349/images/icons/individual_56_icons/en_on_light_bg/10.gif");
}

.min {
	font-size: 14px;
}

.daily-rain {
	clear: both;
	display: block;
	float: left;
	margin-top: -20px;
	font-family: Arial, sans-serif;
	font-size: 14px;
	text-align: center;
	color: #969fa8;
	width: 100%;
}

#find-a-forecast {
	clear: both;
	width: 236px;
	min-height: 120px;
}

#find-a-forecast h2 {
	color: rgb(0, 59, 43);
	direction: ltr;
	display: block;
	font-family: Arial, sans-serif;
	font-size: 23.9979991912842px;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	height: 28px;
	letter-spacing: -1px;
	line-height: 28px;
	margin-bottom: 8px;
	margin-left: 8px;
	margin-right: 8px;
	margin-top: 0px;

	text-rendering: optimizeLegibility;
	padding-left: 8px;
	padding-right: 8px;
}