@import "~weather-icons/weather-icons/weather-icons.less";
h1 {
	margin-bottom: 20px;
}

.input-group {
	margin-left: 4%;
}

.list-group {
	padding: 0 15px;
	margin-top: 50px;
}

.list-group-item {
	position: relative;
	padding: 10px 20px;
}

a.list-group-item {
	cursor: pointer;
}

a.list-group-item:hover {
	background-color: #F7FBFF;
}

a.active-location {
	background-color: #EEF6FF;
}

a.active-location:hover {
	background-color: #EBF3FC;
}

a.list-group-item span.createdAt {
	display: block;
	color: #969FA8;
	z-index: -1;
}
