#geocoding_form {
    margin: 40px auto 60px;
}

.map {
    height: 320px;
    margin: 0 auto;
}

.map-holder {
    background-color: #FCFCFC;
    position: relative;
    border-radius: 2px;
}

.map-holder p {
    position: absolute;
    width: 84px;
    height: 22px;
    left: 50%;
    top: 50%;
    font-size: 20px;
    color: #969FA8;
}

.map .info {
    width: 150px;
}

