#find-a-forecast {
    clear: both;
    min-height: 120px;
    margin-top: 25px;
}

#find-a-forecast h2 {
    font-size: 22px;
    font-weight: bold;
    height: 28px;
    letter-spacing: -1px;
    line-height: 28px;
    padding: 2px;
}

#find-a-forecast span.status {
    line-height: 28px;
    font-size: 15px;
    color: red;
}