/* List-group-horizontal*/

.list-group-horizontal .list-group-item {
    display: inline-block;
    border-radius: 4px;
}
.list-group-horizontal {
    padding-left: 0px;
}

.active-location {
    background-color: #EEF6FF;
}

.weather-by-day-item {
    width: 350px;
    height: 230px;
    margin-top: 20px;
    margin-bottom: 20px;
}

li.disabled{
    display: none;
}

#weatherbox {
    display: block;
    float: none;
    width: 400px;
}

.weather-location-navigation {
    display: block;
    float: none;
    padding: 0px;
    margin: 0px;
}

.weather-location-navigation li {
    margin: 2px;
}

.weather-daily-img {
    display: block;
    float: left;
    font-size: 80px;
    overflow: visible;
    position: relative;
    width: 120px;
    height: 110px;
}

.temperature {
    border: 0px solid #ddd;
    margin: 5px;
}

.temperature.max {
    font-size: 28px;
}

.temperature.min {
    font-size: 22px;
}

li a {
    cursor: pointer;
}

div.big-date {
    margin-top: 10px;
    display: block;
    float: left;
    clear: both;
    border-radius: 8px;
}

div.big-date span{
    display: block;
    clear: both;
}
.percipitation {
    display: block;
    height: 20px;
    width: 130px;
    float: left;
    clear: right;
}

.weather-navbar-item {
    border-radius: 8px;
    display: inline-block;
    margin: 3px;
}
